<p id="notice"><%= notice %></p>

<p>
  <strong>Author name:</strong>
  <%= @comment.author_name %>
</p>

<p>
  <strong>Comment text:</strong>
  <%= @comment.comment_text %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name if @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', tip_comments_path(@tip) %>
