<div id ="community">

<h1>Our Community</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="thead">Name</th>
        <th class="thead">Location</th>
        <th class="thead">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="trows">
          <td><%= link_to user.name, user %></td>
          <td><%= user.location %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="sort_links">
    <%= link_to 'sort by name', users_path(sort: :name) %>&nbsp;<span class="divider">|</span>&nbsp;
    <%= link_to 'sort by location', users_path(sort: :location) %>
  </div>

</div>