<div id="userprofile">
  <h1>About <%= @user.name %></h1>

  <p>
  <span class="userinfo">Name:</span>&nbsp;
    <%= @user.name %>
  </p>

  <p>
  <span class="userinfo">Location:</span>&nbsp;
    <%= @user.location %>
  </p>

  <p class="userbio">
  <span class="userinfo">Bio:</span><br>
    <%= @user.user_bio %>
  </p>

  <hr>
  
  <span class="usertips"><%= link_to "Read #{@user.name}'s tips", user_tips_path(@user) %></span>&nbsp;|&nbsp;
  <span class="usertips"><%= link_to 'Go Back', users_path %></span><br>
  <span class="usertips"><%= link_to "Edit Profile", edit_user_path(@user) %></span>

</div>
