<p id="notice"><%= notice %></p>

<h3><%= "#{@tip.user.name}" %>'s Advice</h3>

<p>
  <strong>Name:</strong>
  <%= @tip.name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @tip.activity_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tip.description %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>

<hr>

<%= render @comments if @comments.present? %>
<h2>add comment:</h2>
<%= form_for([@tip, @comment]) do |f| %>
  <%= render 'comments/form', f: f %>
<% end %>

<hr>

<p style="color:blue;"><%= @tip.votes.count %> favorites</p>

<% if user_signed_in? && @user != current_user  %>

  <% vote = current_user.votes.new(:tip_id => @tip.id) %>

  <%= form_for([@tip, vote]) do |f| %>

    <div class="actions">
      <%= f.submit 'favorite' %>
    </div>

  <% end %>  
<% end %>