<div id="showtip">
  <h1><%= "#{@tip.user.name}" %>'s Advice</h1>

  <p>
  <span class="userinfo">Name:</span>&nbsp;
    <%= @tip.name %>
  </p>

  <p>
  <span class="userinfo">Activity Type:</span>&nbsp;
    <%= @tip.activity_type %>
  </p>

  <p>
  <span class="userinfo">Description:</span>&nbsp;
    <%= @tip.description %>
  </p>

<%= link_to 'Edit', edit_tip_path(@tip) if @tip.user == current_user %><br>
<%= link_to 'Destroy', @tip, method: :delete, data: { confirm: 'Are you sure?' } if @tip.user == current_user %>
<%= link_to 'Back', tips_path %>

<p><%= @tip.votes.count %> favorites</p>

<% if user_signed_in? && @user != current_user  %>

  <% vote = current_user.votes.new(:tip_id => @tip.id) %>

  <%= form_for([@tip, vote]) do |f| %>

    <div class="actions">
      <%= f.submit 'favorite' %>
    </div>

  <% end %>  
<% end %>
</div>
<hr>
<%= render @comments if @comments.present? %>
<div class="commentform">
  <h2>Add Comment:</h2>
  <%= form_for(([@tip, @comment]), class: 'form-horizontal', role: 'form') do |f| %>
    <%= render 'comments/form', f: f %>
  <% end %>
</div>
<hr>