<!DOCTYPE html>
<html>
<head>
  <title>Forget Me Knot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <% if user_signed_in? %>
    <div class="logged-in">
      Hello, <%= link_to current_user do %>
        <strong><%= current_user.name %></strong>.
      <% end %>&nbsp;&nbsp;<span class="divider">|</span>
      &nbsp;&nbsp;<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </div>

  <% else %>

  <div class="login-signup">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>&nbsp;&nbsp;<span class="divider">|</span>
    &nbsp;&nbsp;<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </div>

  <% end %>

  <%= render 'layouts/header' %>

</header>

<div id="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</div>

</body>
</html>
